.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 44%;
    z-index: 2;
    margin: 0;
}


@media screen and (max-width: 768px) {

    .cover__subtitle {
        width: 46%;
    }
}

@media screen and (max-width: 450px) {

    .cover__subtitle {
        width: 80%;
        font-size: 14px;
        line-height: 16px;
    }
}