.footer__copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}
@media screen and (max-width: 400px) {

    .footer__copyright {
        line-height: 14px;
        margin-top: 16px;
        text-align: start;
    }
}