.place__text-container {
    width: 49%;
    max-width: 484px;
}
@media screen and (max-width: 1024px) {

    .place__text-container {
      max-width: 456px;

    }
  }
  @media screen and (max-width: 768px) {
  
    .place__text-container {
      max-width: 352px;
    }
  }
  @media screen and (max-width: 450px) {
  
    .place__text-container {
      max-width: 288px;
      width: 100%;
      margin: auto;
    }
  }