.places {
    display: block;
    margin: auto;
    width: calc(100% - 2*148px);
    flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {

    .places {
        width: calc(100% - 2*48px);

    }
}
@media screen and (max-width: 768px) {

    .places {
        width: calc(100% - 2*24px);

    }
}
@media screen and (max-width: 470px) {

    .places {
        width: 100%;

    }
}